<h2>Welcome to ASP.NET MVC @ViewData["Version"] on @ViewData["Runtime"]!</h2>
<button id="btnPost" onclick="doPost();">doPost</button>
<button id="btnGet" onclick="doGet();">doGet</button>
<button id="btnDelete" onclick="doDelete();">doDelete</button>

@Html.ActionLink("Go to SoftClouds", "Index", "SoftClouds")<br/>


