@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>

</head>
<body>
<h1>SoftClouds/Index</h1>

@Html.ActionLink("GET REQUEST on TestViewer", "TestViewer")<br/>
</body>
</html>

